<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Калькулятор jinja</title>
	</head>

	<body>

        <!-- Создайте заголовок на строке ниже -->
        <h1 align="center">Калькулятор jinja</h1>
        <!-- Создайте ссылку на строке ниже и оберните изображение -->
        <h2>
            {% if operate == ':' %}
                {% if b == 0 %}
                    <p>Ошибка</p>
                {% else %}
                    <p>Результат деления {{a}} / {{b}} = {{a/b}} </p>
                {% endif %}
            {% elif operate == '+' %}
                <p>Результат сложения {{a}} + {{b}} = {{a+b}} </p>
            {% elif operate == '-' %}
                <p>Результат вычитания {{a}} - {{b}} = {{a-b}} </p>
            {% elif operate == '*' %}
                <p>Результат умножения {{a}} * {{b}} = {{a*b}} </p>
            {% elif operate == '**' %}
                <p>Результат возведения в степень {{a}} ** {{b}} = {{a**b}} </p>
            {% else %}
                <p>Ошибка</p>
            {% endif %}
        </h2>
	</body>
</html>
