<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Название вкладки</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{ url_for('static', filename='script/wow.js') }}"></script>
	</head>

	<body>

        <!-- Создайте заголовок на строке ниже -->
        <h1 align="center">Задание</h1>
        <!-- Создайте ссылку на строке ниже и оберните изображение -->
        <p><a href="https://stepik.org">
        <img src="https://stepik.org/static/frontend/topbar_logo.svg" alt="Ссылка на stepik.org">
         </a></p>

        <!-- Создайте список на строке ниже -->
        <ul><li>flask</ul>
        <!-- Создайте таблицу на строке ниже -->
        <table border=1px>
            <tr>
                <td>Ячейка 1</td>
                <td>Ячейка 2</td>
            </tr>
            <tr>
                <td>Ячейка 3</td>
                <td>Ячейка 4</td>
            </tr>
       </table>
	</body>
</html>
